    body{
        background-color: black;
        color: white;
    }

    a{
        color: aquamarine;
        text-decoration: none;

    }

    h1{
        text-decoration: underline aquamarine;
    }
    a:hover{
        color: yellow;
    }
    table{
        background-color: greenyellow;
        color: black;
    }
    .center{
        
    }